Configuration file format for jconv and fconv
---------------------------------------------


Same format as for jconv's predecessor jace. The 'partition size'
parameter is interpreted as 'smallest partition size'.

See the files in the directory 'demo_config' for some examples.
Lines starting with '#' are comments.


The following commands are available:


/convolver/new  <inputs> <outputs> <partition size> <maximum impulse length>

    All in decimal. The 'partition size' should be between 1 and 16 times
    the JACK period size. It will be adjusted (with a warning) otherwise.
    The 'maximum impulse length' has little or no effect on CPU usage, but
    determines the amount of memory used, so it should not be much larger
    than the longest convolution you want to use. Unused inputs or outputs
    do not take any CPU or memory.

    
/input/name    <input>  <port name> <port connected to>
/output/name   <output> <port name> <port connected to>

    Use the given names for the in/out ports, and optionally
    connect them.


/cd <path>

    Change the directory where impulse response files are searched for to 'path'.
    Permits the use of short names in the next command. Initial value is the
    current directory.


/impulse/read   <input> <output> <gain> <delay> <offset> <length> <channel> <file>

    Read impulse from a sound file. 'Input', 'output' and 'channel' start
    from 1. Impulse files are read by libsndfile.
    'Gain' is the linear gain (i.e. not in dB) applied to the response.
    'Delay' sets the number of zero samples inserted before any data read.
    'Offset' can be used to skip frames at the start of the file.
    'Length' is the number of frames used, or zero for all.


/impulse/dirac  <input> <output> <gain> <delay>

    Create an impulse response consisting of a single sample of amplitude
    'gain' at position 'delay'. This is for testing connections etc., not
    for measuring CPU usage as only a single partition will be used.


The commands /impulse/read and /impulse/dirac can be used any number
of times on the same in/out pair. The individual impulse responses will
be added.


/impulse/copy  <input> <output> <from input> <from output>

    Copy a convolution to another input/output pair. This can save a lot
    of memory if the same long convolution has to be performed on many
    in/out pairs. This is a 'symbolic link', forward transformed impulse
    data will be shared for such copies. This includes any additions made
    to the original after the copy has been made.

